* {
    font-family: "Courier New", Courier, monospace;
}

body {
    background-color: black;
    color: greenyellow;
}

section {
    font-size: 30px;
    position: fixed;
    bottom: 10px;
    left: 10px;

    width: 100vw;
    background-color: black;
}

section p {
    margin-top: 5px;
}

form {
    font-size: 30px;
    max-width: fit-content;
    margin: 0px;

    background: black;

    position: fixed;
    z-index: 1;
    left: 10px;
    bottom: 0px;
}

form p {
    display: inline-block;
    margin: 0px;
    width: fit-content;
}

form input[type="text"] {
    position: relative;
    bottom: 2px;

    font-size: 30px;

    padding: 3.5px;
    height: 30px;
    float: right;
    margin-left: 10px;

    color: greenyellow;

    background-color: black;
    border-width: 0;
}

form input[type="text"]:focus {
    outline: none;
}

ul {
    list-style-type: none;

    font-size: 30px;

    /*
    max-width: fit-content;
    //margin: auto;
    */
    margin-left: 1vw;
    margin-bottom: 50px;
}

.done {
    text-decoration: line-through;
}

.undone {
    text-decoration: none;
}

li {
    width: 90vw;
    height: auto;
}

li p {
    display: inline-block;
    overflow-wrap: break-word;
    vertical-align: text-top;

    margin-top: 0px;
    margin-bottom: 20px;
    width: 90%;
}

li input[type="checkbox"] {
    position: relative;
    right: 35px;
    margin-right: -25px;
    height: 20px;
    aspect-ratio: 1;
}

li input[type="checkbox"]:checked {
    accent-color: green;
}

li button {
    display: none;
    font-size: inherit;
    height: 30px;
    float: right;
}

li hr {
    margin-top: -10px;
    border-color: lightgray;
}

.removeTask {
    background-color: transparent;
    border: 0;
    text-align: right;
    color: darkgray;
}

.removeTask:hover {
    color: gray;
}
